.inbox-icon {
    font-size: 14px;
    background: #3689e6;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
}

.upcoming-icon {
    font-size: 14px;
    background: #692fc2;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
}

.today-icon {
    font-size: 14px;
    background: #ffaa00;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
}

.action-item {
    --min-height: 36px;
}

.badge {
    opacity: 0.5;
}