#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.inbox-icon {
  background: #3689e6;
  border-radius: 6px;
  color: #fff;
  padding: 3px;
  font-size: 16px;
}

.toolbar-icon {
  font-size: 24px !important;
}

.toolbar-title {
  text-align: left !important;
  font-size: 24px !important;
}

.task-list {
  padding-right: 24px;
  padding-left: 21px;
}

.checkbox-round {
  margin-right: 8px;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  background-color: white;
  border-radius: 6px;
  vertical-align: top;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.task-row {
  display: flex;
  margin-bottom: 12px;
  color: #333333;
}